<div class="clr-row clr-justify-content-center" *ngIf="winPresi.length > 0">
  <div class="clr-col-lg-6 clr-align-self-center clr-col-12" *ngFor="let item of winPresi">
    <a class="card clickable">

      <div class="card-block pAlingCenter">
        <h4 class="card-title">{{item.puestoPostulado}} - <img class="responsive-logo"
          [src]="item.datosPais.imagenPais" alt=""></h4>
        <img class="responsive-image" [src]="item.image">
        <p class="pAlingCenter">{{item.nombres}} {{item.apellidos}}</p>
      </div>
  </a>
  </div>
</div>
<div class="clr-row clr-justify-content-center" *ngIf="winVice.length > 0">
  <div class="clr-col-lg-4 clr-align-self-center clr-col-12" *ngFor="let item of winVice">
    <a class="card clickable">
      <div class="card-block pAlingCenter">
        <h4 class="card-title">{{item.puestoPostulado}} - <img class="responsive-logo"
          [src]="item.datosPais.imagenPais" alt=""></h4>
        <img class="responsive-image" [src]="item.image">
        <p class="pAlingCenter">{{item.nombres}} {{item.apellidos}}</p>
      </div>
  </a>
  </div>
</div>
<div class="clr-row clr-justify-content-center" *ngIf="winSec.length > 0">
  <div class="clr-col-lg-4 clr-align-self-center clr-col-12" *ngFor="let item of winSec">
    <a class="card clickable">
      <div class="card-block pAlingCenter">
        <h4 class="card-title">{{item.puestoPostulado}} - <img class="responsive-logo"
          [src]="item.datosPais.imagenPais" alt=""></h4>
        <img class="responsive-image" [src]="item.image">
        <p class="pAlingCenter">{{item.nombres}} {{item.apellidos}}</p>
      </div>
  </a>
  </div>
</div>
