<div class="clr-row clr-justify-content-center">
  <div class="clr-col-12 clr-align-self-center">
    <h1 class="pAlingCenter">Candidatos</h1>

    <!-- Paises -->
    <clr-radio-container clrInline>
      <label>Seleccione Pais</label>
      <clr-radio-wrapper *ngFor="let ct of puestos;let i = index">
        <input type="radio" clrRadio name="options" (change)="resetData($event)"  required [value]="ct.puesto" [(ngModel)]="cType" />
        <label>{{ct.puesto}}</label>
      </clr-radio-wrapper>
    </clr-radio-container>

    <ng-container *ngIf="cType !== ''" >
      <clr-radio-container clrInline>
        <label>Seleccione Ronda</label>
        <clr-radio-wrapper  *ngFor="let cta of filtrarRondasArray" >
              <input  type="radio" clrRadio name="options2" (change)="changeCandidato($event)" required [value]="cta.ronda" [(ngModel)]="rondaPais"/>
              <label>{{cta.ronda}}</label>
        </clr-radio-wrapper>
      </clr-radio-container>
    </ng-container>
  <button type="button" class="btn btn-icon btn-primary" aria-label="settings"
    (click)="variablesModals.add = true">
    <clr-icon shape="plus"></clr-icon>
  </button>



    <clr-datagrid>
      <clr-dg-column>User ID</clr-dg-column>
      <clr-dg-column clrDgField="datos.nombres">Nombres</clr-dg-column>
      <clr-dg-column clrDgField="datos.apellidos">Apellidos</clr-dg-column>
      <clr-dg-column clrDgField="datos.email">Email</clr-dg-column>
      <clr-dg-column clrDgField="datos.datosPais.nombrePais">Nombre Pais</clr-dg-column>
      <clr-dg-column clrDgField="datos.ronda">Ronda</clr-dg-column>
      <clr-dg-column clrDgField="datos.image">Image</clr-dg-column>
      <clr-dg-column clrDgField="datos.puestoPostulado">Puesto Postulado</clr-dg-column>
      <clr-dg-column clrDgField="datos.vancada">Vancada</clr-dg-column>
      <clr-dg-column>Acciones</clr-dg-column>

      <clr-dg-row *clrDgItems="let can of ArrayFinal" [clrDgItem]="can">
        <clr-dg-cell>{{can.id}}</clr-dg-cell>
        <clr-dg-cell>{{can.datos.nombres}}</clr-dg-cell>
        <clr-dg-cell>{{can.datos.apellidos}}</clr-dg-cell>
        <clr-dg-cell>{{can.datos.email}}</clr-dg-cell>
        <clr-dg-cell>{{can.datos.datosPais.nombrePais}}</clr-dg-cell>
        <clr-dg-cell>{{can.datos.ronda}}</clr-dg-cell>
        <clr-dg-cell><img [src]="can.datos.image" alt="Avatar" class="avatar"></clr-dg-cell>
        <clr-dg-cell>{{can.datos.puestoPostulado}}</clr-dg-cell>
        <clr-dg-cell>{{can.datos.vancada}}</clr-dg-cell>
        <clr-dg-cell>
          <div class="btn-group btn-link btn-icon btn-sm">
            <button class="btn" (click)="variablesModals.edit = true">
              <clr-icon shape="pencil"></clr-icon>
            </button>
            <button class="btn" (click)="getCandidato(can.id);variablesModals.delete = true">
              <clr-icon shape="trash"></clr-icon>
            </button>
          </div>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-detail *clrIfDetail="let detail">
        <clr-dg-detail-header>Informacion Completa</clr-dg-detail-header>
        <clr-dg-detail-body>
          <div class="clr-row clr-justify-content-center">
            <div class="clr-col-8 clr-align-self-center">
              <div class="card">
                <div class="card-block">
                  <div class="card-title">
                    {{detail.name}}
                  </div>
                  <div class="card-text">
                    {{detail.age}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </clr-dg-detail-body>
      </clr-dg-detail>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Datos por pagina</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          de {{pagination.totalItems}} datos
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<!-- Add Modal -->
<clr-modal [(clrModalOpen)]="variablesModals.add">
  <h3 class="modal-title">Agrega Datos</h3>
  <div class="modal-body">
    <form clrForm >
      <clr-input-container>
        <label>Nombres</label>
        <input clrInput type="text" [(ngModel)]="newCandidato.nombres" name="nombres" />
      </clr-input-container>
      <clr-input-container>
        <label>Apellidos</label>
        <input clrInput type="text" [(ngModel)]="newCandidato.apellidos" name="apellidos" />
      </clr-input-container>
      <clr-input-container>
        <label>Correo Electronico</label>
        <input clrInput type="email" [(ngModel)]="newCandidato.email" name="email" />
      </clr-input-container>
      <clr-input-container>
        <label>Vancada</label>
        <input clrInput type="text" [(ngModel)]="newCandidato.vancada" name="vancada" />
      </clr-input-container>
      <clr-input-container>
        <label>Image</label>
        <input clrInput type="file" accept=".png, .jpg" (change)="uploadFile($event)" name="image" />
      </clr-input-container>
      <br>
      <clr-progress-bar [clrValue]="uploadPercent |async |number: '1.2-2'" clrSuccess clrLabeled></clr-progress-bar>
      <clr-select-container>
        <label>Ronda</label>
        <select clrSelect name="ronda"  [(ngModel)]="newCandidato.ronda">
          <option *ngFor="let tr of tiposRondas" [value]="tr.nombre" >{{tr.nombre}}</option>
        </select>
      </clr-select-container>
      <clr-select-container>
        <label>País</label>
        <select clrSelect name="pais"  [(ngModel)]="newCandidato.pais">
          <option *ngFor="let ps of paisTypeArray" [value]="ps.pais" >{{ps.pais}}</option>
        </select>
      </clr-select-container>
      <clr-select-container>
        <label>Puesto a Postularse</label>
        <select clrSelect name="puestoPostulado"  [(ngModel)]="newCandidato.puestoPostulado">
          <option *ngFor="let pu of puestos" [value]="pu.puesto" >{{pu.puesto}}</option>
        </select>
      </clr-select-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="variablesModals.add = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="addCandidato();variablesModals.add= false">Agregar</button>
  </div>
</clr-modal>

<!-- Editar Modal -->
<clr-modal [(clrModalOpen)]="variablesModals.edit">
  <h3 class="modal-title">Editar Datos</h3>
  <div class="modal-body">
    <p>But not much to say...</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="variablesModals.edit = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="variablesModals.edit = false">Ok</button>
  </div>
</clr-modal>

<!-- Eliminar Modal -->
<clr-modal [(clrModalOpen)]="variablesModals.delete">
  <h3 class="modal-title">Eliminar Datos</h3>
  <div class="modal-body" *ngIf="candidatoDeleteModel">
    <p>Seguro que desea eliminar al Candidato: {{candidatoDeleteModel.datos.nombres}} {{candidatoDeleteModel.datos.apellidos}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="variablesModals.delete = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="deleteCandidato(candidatoDeleteModel.id);variablesModals.delete = false">Eliminar</button>
  </div>
</clr-modal>
