<div class="clr-row clr-justify-content-center">
  <div class="clr-col-12 clr-align-self-center">
    <div class="clr-row">
      <div class="clr-col-6">
        <img [src]="imagenTitulo" class="responsive-logo" style="float: left;
        margin: 0 15px 0 0;" />
      </div>
      <div class="clr-col-6">
        <img src="assets/logo.png" class="responsive-logo" style="float: right;
        margin: 0 0 0 15px;" />
      </div>
    </div>


    <div class="pAlingCenter">
      <h1>Presidente(a) <img class="responsive-title" [src]="imagenTitulo" alt=""></h1>
    </div>
    <br>
    <!-- Honduras Cards -->
    <div class="clr-row clr-justify-content-center" *ngIf="filterXPaisHonduras.length > 0">
      <div class="clr-col-lg-3 clr-align-self-center clr-col-6" *ngFor="let fxh of filterXPaisHonduras">
        <label>
          <input type="radio" name="product" class="card-input-element" required [value]="fxh.id"
            [(ngModel)]="votoModel.idCandidato" (change)="getSelected($event, fxh.datos)" />
          <div class="card clickable card-input pAlingCenter">
            <div class="card-header">
              {{fxh.datos.nombres}} {{fxh.datos.apellidos}} - <img class="responsive-logo"
                [src]="fxh.datos.datosPais.imagenPais" alt="">
            </div>
            <div class="card-block">
              <div class="card-title">

              </div>
              <div class="card-text">
                <img class="responsive-image" [src]="fxh.datos.image" alt="">
              </div>
            </div>
            <div class="card-footer">
              {{fxh.datos.puestoPostulado}}
            </div>
          </div>
        </label>
      </div>
    </div>



    <form clrForm>
      <clr-radio-container clrInline>
        <label>Voto</label>
        <clr-radio-wrapper>
          <input type="radio" clrRadio name="En Blanco" required value="En Blanco" [(ngModel)]="votoModel.tipoVoto"
            (change)="getSelectedNoW($event)" />
          <label>En Blanco</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input type="radio" clrRadio name="Nulo" required value="Nulo" [(ngModel)]="votoModel.tipoVoto"
            (change)="getSelectedNoW($event)" />
          <label>Nulo</label>
        </clr-radio-wrapper>
        <clr-control-helper>Selecciona uno</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-radio-container>

    </form>
    <button class="button" class="btn btn-primary floatLeftButton" (click)="addVoto()">Siguiente</button>

  </div>
</div>
