<div class="clr-row clr-justify-content-center">
  <div class="clr-col-12 clr-align-self-center">
    <h1 class="pAlingCenter">Usuarios</h1>
    <div class="btn-group">
      <button type="button" class="btn btn-icon btn-primary" aria-label="settings" (click)="variablesModals.add = true">
        <clr-icon shape="plus"></clr-icon>
      </button>
      <button type="button" class="btn btn-icon btn-danger" aria-label="settings" (click)="variablesModals.masiveFalse = true"
        *ngIf="selected.length">
        <clr-icon shape="minus-circle"></clr-icon>
      </button>
      <button type="button" class="btn btn-icon btn-success" aria-label="settings" (click)="variablesModals.masiveTrue = true"
        *ngIf="selected.length">
        <clr-icon shape="circle"></clr-icon>
      </button>
      <button type="button" class="btn btn-icon btn-warning" aria-label="settings" (click)="variablesModals.setEmtidos = true">
        Definir Usuarios a Votar
      </button>
    </div>

    <clr-datagrid [(clrDgSelected)]="selected">
      <clr-dg-column>ID Usuario</clr-dg-column>
      <clr-dg-column clrDgField="datos.email">Email</clr-dg-column>
      <clr-dg-column clrDgField="datos.activo">Estado Usuario</clr-dg-column>
      <clr-dg-column clrDgField="datos.rol">Rol</clr-dg-column>
      <clr-dg-column clrDgField="datos.vancada">Bancada</clr-dg-column>
      <clr-dg-column>Acciones</clr-dg-column>

      <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user">
        <clr-dg-cell>{{user.id}}</clr-dg-cell>
        <clr-dg-cell>{{user.datos.email}}</clr-dg-cell>
        <clr-dg-cell *ngIf="user.datos.activo === true"><span class="label label-info">ACTIVO</span></clr-dg-cell>
        <clr-dg-cell *ngIf="user.datos.activo === false"><span class="label label-danger">INACTIVO</span></clr-dg-cell>
        <clr-dg-cell>{{user.datos.rol}}</clr-dg-cell>
        <clr-dg-cell>{{user.datos.vancada}}</clr-dg-cell>
        <clr-dg-cell>
          <div class="btn-group btn-link btn-icon btn-sm">
            <button class="btn" *ngIf="user.datos.activo === false"
              (click)="getUserId(user.id); variablesModals.cambioEstado = true">
              <clr-icon shape="circle"></clr-icon>
            </button>
            <button class="btn" *ngIf="user.datos.activo === true"
              (click)="getUserId(user.id); variablesModals.cambioEstado = true">
              <clr-icon shape="minus-circle"></clr-icon>
            </button>
            <button class="btn" (click)="getUserId(user.id); variablesModals.pass = true">
              <clr-icon shape="lock"></clr-icon>
            </button>
            <button class="btn" (click)="getUserId(user.id); variablesModals.edit = true">
              <clr-icon shape="pencil"></clr-icon>
            </button>
            <button class="btn" (click)="getUserId(user.id);variablesModals.delete = true">
              <clr-icon shape="trash"></clr-icon>
            </button>
          </div>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-detail *clrIfDetail="let detail">
        <clr-dg-detail-header>Informacion Completa</clr-dg-detail-header>
        <clr-dg-detail-body>
          <div class="clr-row clr-justify-content-center">
            <div class="clr-col-8 clr-align-self-center">
              <div class="card">
                <div class="card-block">
                  <div class="card-title">
                    {{detail.datos.email}}
                  </div>
                  <div class="card-text">
                    {{detail.datos.rol}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </clr-dg-detail-body>
      </clr-dg-detail>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Datos por pagina</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          de {{pagination.totalItems}} datos
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<!-- Add Modal -->
<clr-modal [(clrModalOpen)]="variablesModals.add">
  <h3 class="modal-title">Agrega Datos</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label>Email</label>
        <input clrInput type="text" [(ngModel)]="addUser.email" name="example" />
      </clr-input-container>
      <clr-input-container>
        <label>Password</label>
        <input clrInput type="password" [(ngModel)]="addUser.password" name="example" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="variablesModals.add = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="variablesModals.add= false; newUser()">Ok</button>
  </div>
</clr-modal>

<!-- Editar Modal -->
<clr-modal [(clrModalOpen)]="variablesModals.edit">
  <h3 class="modal-title">Editar Datos</h3>
  <div class="modal-body" *ngIf="getUpdateUser">
    <form clrForm>
      <clr-input-container>
        <label>Nombres</label>
        <input clrInput type="text" [(ngModel)]="getUpdateUser.datos.nombres" name="nombres" />
      </clr-input-container>
      <clr-input-container>
        <label>Apellidos</label>
        <input clrInput type="text" [(ngModel)]="getUpdateUser.datos.apellidos" name="apellidos" />
      </clr-input-container>
      <clr-input-container>
        <label>Email</label>
        <input clrInput type="text" [(ngModel)]="getUpdateUser.datos.email" name="email" />
      </clr-input-container>
      <clr-input-container>
        <label>Bancada</label>
        <input clrInput type="text" [(ngModel)]="getUpdateUser.datos.vancada" name="vancada" />
      </clr-input-container>
      <clr-input-container>
        <label>Pais</label>
        <input clrInput type="text" [(ngModel)]="getUpdateUser.datos.idPais" name="idPais" />
      </clr-input-container>
      <clr-radio-container clrInline>
        <label>Estado Usuario</label>
        <clr-radio-wrapper>
          <input type="radio" clrRadio name="activo" required [value]="true" [(ngModel)]="getUpdateUser.datos.activo" />
          <label>ACTIVO</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input type="radio" clrRadio name="activo" required [value]="false"
            [(ngModel)]="getUpdateUser.datos.activo" />
          <label>INACTIVO</label>
        </clr-radio-wrapper>
        <clr-control-helper>Helper text</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-radio-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="variablesModals.edit = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="updateUser();variablesModals.edit = false">Editar</button>
  </div>
</clr-modal>

<!-- Eliminar Modal -->
<clr-modal [(clrModalOpen)]="variablesModals.delete">
  <h3 class="modal-title">Eliminar Datos</h3>
  <div class="modal-body" *ngIf="getUpdateUser">
    <p>Seguro que desea eliminar al Usuario: {{getUpdateUser.datos.email}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="variablesModals.delete = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="deleteUser(getUpdateUser.id)">Eliminar</button>
  </div>
</clr-modal>

<!-- Cambiar Estado Modal -->
<clr-modal [(clrModalOpen)]="variablesModals.cambioEstado">
  <h3 class="modal-title">Cambiar estado</h3>
  <div class="modal-body" *ngIf="getUpdateUser">
    <p *ngIf="getUpdateUser.datos.activo === true">Seguro que desea cambiar el estado del Usuario:
      {{getUpdateUser.datos.email}} a Inactivo</p>
    <p *ngIf="getUpdateUser.datos.activo === false">Seguro que desea cambiar el estado del Usuario:
      {{getUpdateUser.datos.email}} a Activo</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="variablesModals.cambioEstado = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="cambiarEstado()">Cambiar</button>
  </div>
</clr-modal>

<!-- Change Pass Modal -->
<clr-modal [(clrModalOpen)]="variablesModals.pass">
  <h3 class="modal-title">Cambiar Contraseña</h3>
  <div class="modal-body" *ngIf="getUpdateUser">
    <form clrForm [formGroup]="registerForm" (ngSubmit)="changePassword(getUpdateUser.id)">
      <clr-password-container>
        <label>Contraseña Nueva</label>
        <input type="password" formControlName="password" name="passwordact" clrPassword placeholder="Contraseña" />
      </clr-password-container>
      <clr-password-container>
        <label>Confirmar Contraseña Nueva</label>
        <input type="password" formControlName="confirmPassword" [(ngModel)]="newPassword.password" name="password"
          clrPassword placeholder="Contraseña" />
        <clr-control-error *ngIf="f.confirmPassword.errors && f.confirmPassword.errors.mustMatch !== null">¡Las
          contraseña deben coincidir!</clr-control-error>
      </clr-password-container>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="variablesModals.pass = false">Cancel</button>
        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
      </div>
    </form>
  </div>
</clr-modal>

<!-- Enviar Correo No. Token Modal -->
<clr-modal [(clrModalOpen)]="variablesModals.enviarEmail">
  <h3 class="modal-title">Ingrese Token para Enviar Correo</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label>Numero Token</label>
        <input clrInput type="number" [(ngModel)]="tokenEmail" name="tokenEmail" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="variablesModals.enviarEmail = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="sendMails()">Enviar</button>
  </div>
</clr-modal>


<!-- Definir usuarios a votar Modal -->
<clr-modal [(clrModalOpen)]="variablesModals.setEmtidos">
  <h3 class="modal-title">Definir usuarios a votar en vuelta</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-select-container>
        <label>Vuelta</label>
        <select clrSelect name="ronda"  [(ngModel)]="setVuelta">
          <option *ngFor="let tr of tiposRondas" [value]="tr.nombre" >{{tr.nombre}}</option>
        </select>
      </clr-select-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="variablesModals.setEmtidos = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="verificacion()">Listo</button>
  </div>
</clr-modal>

<!-- Confirmar Definir usuarios a votar Modal -->
<clr-modal [(clrModalOpen)]="variablesModals.setEmitidosConf">
  <h3 class="modal-title">Definir Quorum</h3>
  <div class="modal-body">
    <div class="modal-body" *ngIf="setVuelta && usuariosActivosTamano">
      <p>Seguro que desea definir el quorum de {{usuariosActivosTamano.length}} en la "{{setVuelta}}"</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="variablesModals.setEmitidosConf = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="setAbstinencia()">Enviar</button>
  </div>
</clr-modal>

<!-- Cambiar Estado Usuarios Activo -->
<clr-modal [(clrModalOpen)]="variablesModals.masiveTrue">
  <h3 class="modal-title">Cambiar Estado a Activo</h3>
  <div class="modal-body">
    <div class="modal-body" *ngIf="selected.length > 0">
      <p>Seguro que desea cambiar el estado a Activo de {{selected.length}} Usuarios</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="variablesModals.masiveTrue = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="cambiarEstadoMasivoTrue()">Cambiar</button>
  </div>
</clr-modal>

<!-- Cambiar Estado Usuarios False -->
<clr-modal [(clrModalOpen)]="variablesModals.masiveFalse">
  <h3 class="modal-title">Cambiar Estado a Activo</h3>
  <div class="modal-body">
    <div class="modal-body" *ngIf="selected.length > 0">
      <p>Seguro que desea cambiar el estado a Inactivo de {{selected.length}} Usuarios</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="variablesModals.masiveFalse = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="cambiarEstadoMasivoFalse()">Cambiar</button>
  </div>
</clr-modal>
