.vertical-line{
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  height: 150px;
}

.responsive-image {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.responsive-logo {
  width: 100%;
  max-width: 100px;
  height: auto;
}
.responsive-title {
  width: 100%;
  max-width: 50px;
  height: auto;
}


.pAlingCenter {
  text-align: center;
}


#content {
  position: relative;
}
#content img {
  position: absolute;
  top: 0px;
  right: 0px;
}
