.responsive-logo {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.pAlingCenter {
  text-align: center;
}

.login-wrapper {
  background-image: url("/assets/parlacen-home.jpg");
  background-position: initial;
  justify-content: flex-end;
  background-size: cover;
  overflow-y: auto;
}



