.responsive-logo {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.pAlingCenter {
  text-align: center;
}

.login-wrapper {
  background-image: url("/assets/foto-parlacen.jpg");
  background-position: 15.2rem 0;
}
