<nav>
  <section class="sidenav-content">
    <section class="nav-group collapsible">
      <input id="tabexample1" type="checkbox">
      <label for="tabexample1">Contenido</label>
      <ul class="nav-list">
        <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link">Bienvenida</a></li>
        <li><a routerLink="/home/voto" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link">Voto</a></li>
      </ul>
    </section>
    <!-- Pruebas -->
    <section class="nav-group collapsible">
      <input id="tabexample2" type="checkbox">
      <label for="tabexample2">Pruebas</label>
      <ul class="nav-list">
        <li><a routerLink="/home/votoInformacion" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link">Voto Informacion</a></li>
        <li><a routerLink="/home/votoP/Presidente/1ra/Honduras" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link">Voto Presidente</a></li>
        <li><a routerLink="/home/votoV/Vicepresidente/1ra/Guatemala" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:
            true}" class="nav-link">Voto Vicepresidente</a></li>
        <li><a routerLink="/home/votoS/Secretaria/1ra/Guatemala" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}" class="nav-link">Voto Secretario</a></li>
      </ul>
    </section>
    <!-- Candidatos -->
    <section class="nav-group collapsible">
      <input id="tabexample3" type="checkbox">
      <label for="tabexample3">Candidatos</label>
      <ul class="nav-list">
        <li><a routerLink="/home/candidatos" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link">Candidatos</a></li>
        <li><a routerLink="/home/candidatosRound" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" class="nav-link">Siguiente Ronda o Nueva Votacion</a></li>
      </ul>
    </section>
    <!-- Papeletas -->
    <section class="nav-group collapsible">
      <input id="tabexample4" type="checkbox">
      <label for="tabexample4">Papeletas</label>
      <ul class="nav-list">
        <li><a routerLink="/home/papeleta1" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link">Papeleta Presidente</a></li>
        <li><a routerLink="/home/papeleta2" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" class="nav-link">Papeleta Vicepresidente</a></li>
        <li><a routerLink="/home/papeleta3" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}" class="nav-link">Papeleta Secretario</a></li>
      </ul>
    </section>
    <section class="nav-group collapsible">
      <input id="tabexample5" type="checkbox">
      <label for="tabexample5">Administrativa</label>
      <ul class="nav-list">
        <li><a routerLink="/home/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link">Usuarios</a></li>
        <li><a routerLink="/home/token" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" class="nav-link">Token</a></li>
        <li><a routerLink="/home/pais" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}" class="nav-link">Pais</a></li>
      </ul>
    </section>
    <section class="nav-group collapsible">
      <input id="tabexample6" type="checkbox">
      <label for="tabexample6">Estadisticas</label>
      <ul class="nav-list">
        <li><a routerLink="/home/graficas" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link">Graficas</a></li>
      </ul>
    </section>
  </section>
</nav>
