<nav>
  <section class="sidenav-content">
    <section class="nav-group collapsible">
      <input id="tabexample1" type="checkbox">
      <label for="tabexample1">Contenido</label>
      <ul class="nav-list">
        <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link">Bienvenida</a></li>
      </ul>
    </section>
    <!-- Pruebas
    <section class="nav-group collapsible">
      <input id="tabexample2" type="checkbox">
      <label for="tabexample2">Pruebas</label>
      <ul class="nav-list">
        <li><a routerLink="/home/votoInformacion" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link">Voto Informacion</a></li>
        <li><a routerLink="/home/votoP/Presidente/1ra" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link">Voto Presidente</a></li>
        <li><a routerLink="/home/votoV/Vicepresidente/1ra" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:
            true}" class="nav-link">Voto Vicepresidente</a></li>
        <li><a routerLink="/home/votoS/Secretaria/1ra" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}" class="nav-link">Voto Secretario</a></li>
      </ul>
    </section> -->
    <!-- Candidatos -->
    <section class="nav-group collapsible" *ngIf="UserService.getIdentity().datos.rol === 'SA'">
      <input id="tabexample3" type="checkbox">
      <label for="tabexample3">Candidatos</label>
      <ul class="nav-list">
        <li><a routerLink="/home/candidatos" *ngIf="UserService.getIdentity().datos.rol === 'SA'"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link">Candidatos</a></li>
        <!-- <li><a routerLink="/admin/candidatos" *ngIf="UserService.getIdentity().datos.rol === 'ADMIN'"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" class="nav-link">Candidatos</a></li> -->
        <li><a routerLink="/home/candidatosRound" *ngIf="UserService.getIdentity().datos.rol === 'SA'"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" class="nav-link">Siguiente Ronda o Nueva Votacion</a></li>
        <!-- <li><a routerLink="/admin/candidatosRound" *ngIf="UserService.getIdentity().datos.rol === 'ADMIN'"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}" class="nav-link">Siguiente Ronda o Nueva Votacion</a></li> -->
      </ul>
    </section>
    <!-- Papeletas -->
    <section class="nav-group collapsible" *ngIf="UserService.getIdentity().datos.rol === 'SA'">
      <input id="tabexample4" type="checkbox">
      <label for="tabexample4">Papeletas</label>
      <ul class="nav-list">
        <li><a routerLink="/home/papeleta1" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link">Papeleta Presidente</a></li>
        <li><a routerLink="/home/papeleta2" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" class="nav-link">Papeleta Vicepresidente</a></li>
        <li><a routerLink="/home/papeleta3" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}" class="nav-link">Papeleta Secretario</a></li>
      </ul>
    </section>
    <section class="nav-group collapsible" *ngIf="UserService.getIdentity().datos.rol === 'SA'">
      <input id="tabexample5" type="checkbox">
      <label for="tabexample5">Administrativa</label>
      <ul class="nav-list">
        <li><a routerLink="/home/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link">Usuarios</a></li>
        <li><a routerLink="/home/token" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" class="nav-link">Token</a></li>
        <li><a routerLink="/home/pais" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}" class="nav-link">Pais</a></li>
      </ul>
    </section>
    <section class="nav-group collapsible">
      <input id="tabexample6" type="checkbox">
      <label for="tabexample6">Estadisticas</label>
      <ul class="nav-list">
        <li><a routerLink="/home/graficas" *ngIf="UserService.getIdentity().datos.rol === 'SA'"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link">Graficas</a></li>
        <li><a routerLink="/admin/graficas" *ngIf="UserService.getIdentity().datos.rol === 'ADMIN'"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" class="nav-link">Graficas</a></li>
        <li>
          <button type="button" (click)="COCharts()" *ngIf="UserService.getIdentity() && UserService.getIdentity().datos.rol === 'SA' " class="btn btn-icon btn-warning" aria-label="settings" style="margin-left: 10px; margin-top: 10px;">I/O Graficas</button>
        </li>
      </ul>
    </section>
  </section>
</nav>
