<div class="clr-row clr-justify-content-center">
  <div class="clr-col-12 clr-align-self-center">
    <div class="pAlingCenter">
      <h1>Cambio de Ronda Candidatos<img class="imageTitulo" src="assets/guate.jpg" alt=""></h1>
    </div>
    <br>

    <clr-radio-container clrInline>
      <label>Seleccione Pais</label>
      <clr-radio-wrapper *ngFor="let ct of puestos">
        <input type="radio" clrRadio name="options" (change)="resetData($event)" required [value]="ct.puesto"
          [(ngModel)]="updateCandidato.puestoPostulado" />
        <label>{{ct.puesto}}</label>
      </clr-radio-wrapper>
    </clr-radio-container>

    <div class="clr-row clr-justify-content-center">
      <div class="clr-col-12 clr-align-self-center">
        <clr-tabs>
          <clr-tab *ngFor="let ps of paisTypeArray">
            <button clrTabLink [id]="ps.pais" (click)="filterByPais($event,ps.pais)">{{ps.pais}}</button>
            <clr-tab-content [id]="ps.pais" *clrIfActive>
              <clr-select-container>
                <label>Cambiar a:</label>
                <select clrSelect name="options2" [(ngModel)]="updateCandidato.ronda">
                  <option *ngFor="let ct of tiposRondas" [value]="ct.nombre">{{ct.nombre}}</option>>
                </select>
              </clr-select-container>
              <clr-radio-container clrInline>
                <label>Seleccione Pais</label>
                <clr-radio-wrapper *ngFor="let rd of filtrarRondasArray">
                  <input *ngIf="filtrarRondasArray.length > 0" type="radio" clrRadio name="options3"
                    (change)="changeCandidato($event)" required [value]="rd.ronda"
                    [(ngModel)]="updateCandidato.rondaAntigua" />
                  <label *ngIf="filtrarRondasArray.length > 0">{{rd.ronda}}</label>
                </clr-radio-wrapper>
              </clr-radio-container>
              <form [formGroup]="form">
                <div class="clr-row clr-justify-content-center">
                  <div class="clr-col-lg-3 clr-align-self-center clr-col-6"
                    *ngFor="let canXRonda of ArrayFinal; let i = index">

                    <div class="card clickable" *ngIf='ArrayFinal.length > 0' formArrayName="orders">
                      <input class="c-card" type="checkbox" [id]="canXRonda.id" [value]="canXRonda.id"
                        (change)="getSelected($event)" [formControlName]="i">
                      <div class="card-content">
                        <div class="card-state-icon"></div>
                        <label [for]="canXRonda.id">
                          <div class="image"></div>
                          <h4>{{canXRonda.datos.puestoPostulado}}</h4>
                          <h5>{{canXRonda.datos.nombres}} &bull; {{canXRonda.datos.apellidos}}</h5>
                          <p class="small-meta dim">{{canXRonda.datos.ronda}}</p>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <button type="button" class="btn btn-primary floatLeftButton" (click)="updateRonda()">Siguiente</button>
            </clr-tab-content>
          </clr-tab>
        </clr-tabs>


      </div>


    </div>
    <!-- <form clrForm>
      <clr-input-container>
        <label>Token Id</label>
        <input placeholder="Token Id" clrInput name="name" required />
        <clr-control-helper>1234</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <clr-radio-container clrInline>
        <label>Voto</label>
        <clr-radio-wrapper>
          <input type="radio" clrRadio name="En Blanco" required value="En Blanco" [(ngModel)]="selectedPresidente" (change)="getSelected($event)" />
          <label>En Blanco</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input type="radio" clrRadio name="Nulo" required value="Nulo" [(ngModel)]="selectedPresidente" (change)="getSelected($event)" />
          <label>Nulo</label>
        </clr-radio-wrapper>
        <clr-control-helper>Selecciona uno</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-radio-container>
      <button class="btn btn-primary floatLeftButton">Siguiente</button>
    </form> -->
  </div>
</div>
