<div class="clr-row clr-justify-content-center">
  <div class="clr-col-12 clr-align-self-center">
    <div class="clr-row">
      <div class="clr-col-6">
        <img src="assets/logo.png" class="responsive-logo" style="float: left;
        margin: 0 0 0 15px;" />
      </div>
      <div class="clr-col-6">
        <img [src]="imagenTitulo" class="responsive-logo" style="float: right;
        margin: 0 15px 0 0;" />
      </div>

    </div>
    <div class="pAlingCenter">
      <h1>Secretario(a) {{nombrePais}}</h1>
    </div>
    <br>
    <!-- Honduras Cards -->
    <div class="clr-row clr-justify-content-center" *ngIf="filterXPaisHonduras.length > 0">
      <div class="clr-col-lg-3 clr-align-self-center clr-col-6" *ngFor="let fxh of filterXPaisHonduras">
        <label>
          <input type="radio" name="product" class="card-input-element" required [value]="fxh.id"
            [(ngModel)]="votoModel.idCandidato" (change)="getSelected($event, fxh.datos)" />
          <div class="card clickable card-input pAlingCenter">
            <div class="card-header">
              {{fxh.datos.nombres}} {{fxh.datos.apellidos}}
            </div>
            <div class="card-block">
              <div class="card-title">

              </div>
              <div class="card-text">
                <img class="responsive-image" [src]="fxh.datos.image" alt="">
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>
    <!-- El Salvador Cards -->
    <div class="clr-row clr-justify-content-center" *ngIf="filterXPaisSalvador.length > 0">
      <div class="clr-col-lg-3 clr-align-self-center clr-col-6" *ngFor="let fxs of filterXPaisSalvador">
        <label>
          <input type="radio" name="product" class="card-input-element" required [value]="fxs.id"
            [(ngModel)]="votoModel.idCandidato" (change)="getSelected($event, fxs.datos)" />
          <div class="card clickable card-input pAlingCenter">
            <div class="card-header">
              {{fxs.datos.nombres}} {{fxs.datos.apellidos}}
            </div>
            <div class="card-block">
              <div class="card-title">

              </div>
              <div class="card-text">
                <img class="responsive-image" [src]="fxs.datos.image" alt="">
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>
    <!-- Guatemala Cards -->
    <div class="clr-row clr-justify-content-center" *ngIf="filterXPaisGuatemala.length > 0">
      <div class="clr-col-lg-3 clr-align-self-center clr-col-6" *ngFor="let fxg of filterXPaisGuatemala">
        <label>
          <input type="radio" name="product" class="card-input-element" required [value]="fxg.id"
            [(ngModel)]="votoModel.idCandidato" (change)="getSelected($event, fxg.datos)" />
          <div class="card clickable card-input pAlingCenter">
            <div class="card-header">
              {{fxg.datos.nombres}} {{fxg.datos.apellidos}}
            </div>
            <div class="card-block">
              <div class="card-title">

              </div>
              <div class="card-text">
                <img class="responsive-image" [src]="fxg.datos.image" alt="">
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>
    <!-- Nicaragua Cards -->
    <div class="clr-row clr-justify-content-center" *ngIf="filterXPaisNicaragua.length > 0">
      <div class="clr-col-lg-3 clr-align-self-center clr-col-6" *ngFor="let fxn of filterXPaisNicaragua">
        <label>
          <input type="radio" name="product" class="card-input-element" required [value]="fxn.id"
            [(ngModel)]="votoModel.idCandidato" (change)="getSelected($event, fxn.datos)" />
          <div class="card clickable card-input pAlingCenter">
            <div class="card-header">
              {{fxn.datos.nombres}} {{fxn.datos.apellidos}}
            </div>
            <div class="card-block">
              <div class="card-title">

              </div>
              <div class="card-text">
                <img class="responsive-image" [src]="fxn.datos.image" alt="">
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>
    <!-- Panama Cards -->
    <div class="clr-row clr-justify-content-center" *ngIf="filterXPaisPanama.length > 0">
      <div class="clr-col-lg-3 clr-align-self-center clr-col-6" *ngFor="let fxp of filterXPaisPanama">
        <label>
          <input type="radio" name="product" class="card-input-element" required [value]="fxp.id"
            [(ngModel)]="votoModel.idCandidato" (change)="getSelected($event, fxp.datos)" />
          <div class="card clickable card-input pAlingCenter">
            <div class="card-header">
              {{fxp.datos.nombres}} {{fxp.datos.apellidos}}
            </div>
            <div class="card-block">
              <div class="card-title">

              </div>
              <div class="card-text">
                <img class="responsive-image" [src]="fxp.datos.image" alt="">
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>

    <!-- Dominicana Cards -->
    <div class="clr-row clr-justify-content-center" *ngIf="filterXPaisDominicana.length > 0">
      <div class="clr-col-lg-3 clr-align-self-center clr-col-6" *ngFor="let fxd of filterXPaisDominicana">
        <label>
          <input type="radio" name="product" class="card-input-element" required [value]="fxd.id"
            [(ngModel)]="votoModel.idCandidato" (change)="getSelected($event, fxd.datos)" />
          <div class="card clickable card-input pAlingCenter">
            <div class="card-header">
              {{fxd.datos.nombres}} {{fxd.datos.apellidos}}
            </div>
            <div class="card-block">
              <div class="card-title">

              </div>
              <div class="card-text">
                <img class="responsive-image" [src]="fxd.datos.image" alt="">
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>




    <form clrForm>
      <clr-radio-container clrInline>
        <clr-radio-wrapper>
          <input type="radio" clrRadio name="En Blanco" value="En Blanco" [(ngModel)]="votoModel.tipoVoto"
            (change)="getSelectedNoW($event)" />
          <label style="font-weight: bold; font-size: 15px;">Voto en Blanco</label>
        </clr-radio-wrapper>
        <!-- <clr-radio-wrapper>
          <input type="radio" clrRadio name="Nulo" required value="Nulo" [(ngModel)]="votoModel.tipoVoto"
            (change)="getSelectedNoW($event)" />
          <label>Nulo</label>
        </clr-radio-wrapper> -->
        <!-- <clr-control-helper>Selecciona uno</clr-control-helper> -->
      </clr-radio-container>

    </form>
    <button class="button" class="btn btn-primary floatLeftButton" (click)="addVoto()">Siguente</button>

  </div>
</div>
<div class="clr-row clr-justify-content-center">
  <div class="clr-col-12 clr-align-self-center">
    <div style="text-align: center">Elecciones a cargos de Junta Directiva 2020 - 2021</div>
    <!-- <div style="position: relative">
      <div style="position: absolute; margin-top: 20px; bottom: 0; width:100%; left: 0; text-align: center"> Elecciones a cargo de Junta Directiva 2020 - 2021
      </div>
    </div> -->
  </div>
</div>


<clr-modal [(clrModalOpen)]="modalFinal" [clrModalClosable]="false">
  <h3 class="modal-title">Ya termino las votaciones</h3>
  <div class="modal-body">
    <p>A continuación se cerrara su sesión y se le rediccionara a la Pantalla de Inicio.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="cerrarSesion()">
      Entendido!
    </button>
  </div>
</clr-modal>
